<a href="https://colab.research.google.com/github/Ferdaus71/ML_Lab-performance/blob/main/ML_Lab(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# Use the actual file name here
path = '/content/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv'

df = pd.read_csv(path)

# Display the first few rows of the DataFrame to verify
print(df.head())

                                   Flow ID       Source IP   Source Port  \
0  192.168.10.5-104.16.207.165-54865-443-6  104.16.207.165           443
1    192.168.10.5-104.16.28.216-55054-80-6   104.16.28.216            80
2    192.168.10.5-104.16.28.216-55055-80-6   104.16.28.216            80
3  192.168.10.16-104.17.241.25-46236-443-6   104.17.241.25           443
4  192.168.10.5-104.19.196.102-54863-443-6  104.19.196.102           443

   Destination IP   Destination Port   Protocol      Timestamp  \
0    192.168.10.5              54865          6  7/7/2017 3:30
1    192.168.10.5              55054          6  7/7/2017 3:30
2    192.168.10.5              55055          6  7/7/2017 3:30
3   192.168.10.16              46236          6  7/7/2017 3:30
4    192.168.10.5              54863          6  7/7/2017 3:30

    Flow Duration   Total Fwd Packets   Total Backward Packets  ...  \
0               3                   2                        0  ...
1             109                   1                        1  ...
2              52                   1                        1  ...
3              34                   1                        1  ...
4               3                   2                        0  ...

    min_seg_size_forward  Active Mean   Active Std   Active Max   Active Min  \
0                     20          0.0          0.0            0            0
1                     20          0.0          0.0            0            0
2                     20          0.0          0.0            0            0
3                     20          0.0          0.0            0            0
4                     20          0.0          0.0            0            0

   Idle Mean   Idle Std   Idle Max   Idle Min   Label
0        0.0        0.0          0          0  BENIGN
1        0.0        0.0          0          0  BENIGN
2        0.0        0.0          0          0  BENIGN
3        0.0        0.0          0          0  BENIGN
4        0.0        0.0          0          0  BENIGN

[5 rows x 85 columns]

In [ ]:
data = df

In [ ]:
data.columns = data.columns.str.strip()

In [ ]:
data.columns

Index(['Flow ID', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'Timestamp', 'Flow Duration',
       'Total Fwd Packets', 'Total Backward Packets',
       'Total Length of Fwd Packets', 'Total Length of Bwd Packets',
       'Fwd Packet Length Max', 'Fwd Packet Length Min',
       'Fwd Packet Length Mean', 'Fwd Packet Length Std',
       'Bwd Packet Length Max', 'Bwd Packet Length Min',
       'Bwd Packet Length Mean', 'Bwd Packet Length Std', 'Flow Bytes/s',
       'Flow Packets/s', 'Flow IAT Mean', 'Flow IAT Std', 'Flow IAT Max',
       'Flow IAT Min', 'Fwd IAT Total', 'Fwd IAT Mean', 'Fwd IAT Std',
       'Fwd IAT Max', 'Fwd IAT Min', 'Bwd IAT Total', 'Bwd IAT Mean',
       'Bwd IAT Std', 'Bwd IAT Max', 'Bwd IAT Min', 'Fwd PSH Flags',
       'Bwd PSH Flags', 'Fwd URG Flags', 'Bwd URG Flags', 'Fwd Header Length',
       'Bwd Header Length', 'Fwd Packets/s', 'Bwd Packets/s',
       'Min Packet Length', 'Max Packet Length', 'Packet Length Mean',
       'Packet Length Std', 'Packet Length Variance', 'FIN Flag Count',
       'SYN Flag Count', 'RST Flag Count', 'PSH Flag Count', 'ACK Flag Count',
       'URG Flag Count', 'CWE Flag Count', 'ECE Flag Count', 'Down/Up Ratio',
       'Average Packet Size', 'Avg Fwd Segment Size', 'Avg Bwd Segment Size',
       'Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', 'Fwd Avg Packets/Bulk',
       'Fwd Avg Bulk Rate', 'Bwd Avg Bytes/Bulk', 'Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', 'Subflow Fwd Bytes',
       'Subflow Bwd Packets', 'Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       'Init_Win_bytes_backward', 'act_data_pkt_fwd', 'min_seg_size_forward',
       'Active Mean', 'Active Std', 'Active Max', 'Active Min', 'Idle Mean',
       'Idle Std', 'Idle Max', 'Idle Min', 'Label'],
      dtype='object')

In [ ]:
import pandas as pd

# Select columns that are of 'object' or 'category' data type
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

# Convert the Index to a list for easier viewing, if desired
categorical_columns_list = categorical_columns.tolist()

print("Identified Categorical Columns:")
print(categorical_columns_list)

Identified Categorical Columns:
['Flow ID', 'Source IP', 'Destination IP', 'Timestamp', 'Label']

In [ ]:
columns_to_drop = [col for col in categorical_columns if col != 'Label']
df_cleaned = data.drop(columns=columns_to_drop)

In [ ]:

categorical_columns = df.select_dtypes(include=['object','category']).columns

# Convert the Index to a list for easier viewing
categorical_columns_list = categorical_columns.tolist()

# Corrected print statement for 'Categorical'
print("Identified Categorical Columns: ")
print(categorical_columns_list)

Identified Categorical Columns:
['Flow ID', 'Source IP', 'Destination IP', 'Timestamp', 'Label']

In [ ]:
# If you explicitly want only 'Label' to be in your list of identified categorical columns
identified_categorical_columns = [' Label']

print("Identified Categorical Columns (fixed to only ' Label'):")
print(identified_categorical_columns)

Identified Categorical Columns (fixed to only ' Label'):
[' Label']

In [ ]:
df_cleaned['Label'].value_counts()

Label
DDoS      128027
BENIGN     97718
Name: count, dtype: int64

In [ ]:
import numpy as np

nan_counts_per_column = df.isnull().sum()
total_nan_count = nan_counts_per_column.sum()

print("--- NaN (Null) Value Counts per Column ---")
print(nan_counts_per_column)

print("\n--- Summary of NaN Values ---")
if total_nan_count > 0:
    print(f"There are a total of {total_nan_count} NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

print("\n--- Infinity Value Counts per Numerical Column ---")

numerical_df = df.select_dtypes(include=[np.number])

inf_counts_per_column = numerical_df.apply(lambda x: np.isinf(x).sum())
total_inf_count = inf_counts_per_column.sum()

print(inf_counts_per_column)

print("\n--- Summary of Infinity Values ---")
if total_inf_count > 0:
    print(f"There are a total of {total_inf_count} infinity values in the numerical columns of the DataFrame.")
else:
    print("There are no infinity values in the numerical columns of the DataFrame.")

print("\n--- Combined Null OR Infinity Value Counts (Numerical Columns Only) ---")
null_or_inf_combined_counts = numerical_df.apply(lambda x: x.isnull().sum() + np.isinf(x).sum())
total_null_or_inf_count = null_or_inf_combined_counts.sum()

print(null_or_inf_combined_counts)

--- NaN (Null) Value Counts per Column ---
Flow ID             0
Source IP           0
Source Port         0
Destination IP      0
Destination Port    0
                   ..
Idle Mean           0
Idle Std            0
Idle Max            0
Idle Min            0
Label               0
Length: 85, dtype: int64

--- Summary of NaN Values ---
There are a total of 4 NaN values in the DataFrame.

--- Infinity Value Counts per Numerical Column ---
Source Port          0
Destination Port     0
Protocol             0
Flow Duration        0
Total Fwd Packets    0
                    ..
Active Min           0
Idle Mean            0
Idle Std             0
Idle Max             0
Idle Min             0
Length: 80, dtype: int64

--- Summary of Infinity Values ---
There are a total of 64 infinity values in the numerical columns of the DataFrame.

--- Combined Null OR Infinity Value Counts (Numerical Columns Only) ---
Source Port          0
Destination Port     0
Protocol             0
Flow Duration        0
Total Fwd Packets    0
                    ..
Active Min           0
Idle Mean            0
Idle Std             0
Idle Max             0
Idle Min             0
Length: 80, dtype: int64

In [ ]:
df_no_nulls = df.dropna()

In [ ]:
df_no_inf_or_nulls = df_no_nulls.replace([np.inf, -np.inf], np.nan)

In [ ]:
import numpy as np

nan_counts_per_column = df.isnull().sum()
total_nan_count = nan_counts_per_column.sum()

print("--- NaN (Null) Value Counts per Column ---")
print(nan_counts_per_column)

print("\n--- Summary of NaN Values ---")
if total_nan_count > 0:
    print(f"There are a total of {total_nan_count} NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

print("\n--- Infinity Value Counts per Numerical Column ---")

numerical_df = df.select_dtypes(include=[np.number])

inf_counts_per_column = numerical_df.apply(lambda x: np.isinf(x).sum())
total_inf_count = inf_counts_per_column.sum()

print(inf_counts_per_column)

print("\n--- Summary of Infinity Values ---")
if total_inf_count > 0:
    print(f"There are a total of {total_inf_count} infinity values in the numerical columns of the DataFrame.")
else:
    print("There are no infinity values in the numerical columns of the DataFrame.")

print("\n--- Combined Null OR Infinity Value Counts (Numerical Columns Only) ---")
null_or_inf_combined_counts = numerical_df.apply(lambda x: x.isnull().sum() + np.isinf(x).sum())
total_null_or_inf_count = null_or_inf_combined_counts.sum()

print(null_or_inf_combined_counts)

print("\n--- Summary of Null OR Infinity Values ---")
if total_null_or_inf_count > 0:
    print(f"There are a total of {total_null_or_inf_count} null or infinity values in the numerical columns of the DataFrame.")
else:
    print("There are no null or infinity values in the numerical columns of the DataFrame.")

--- NaN (Null) Value Counts per Column ---
Flow ID             0
Source IP           0
Source Port         0
Destination IP      0
Destination Port    0
                   ..
Idle Mean           0
Idle Std            0
Idle Max            0
Idle Min            0
Label               0
Length: 85, dtype: int64

--- Summary of NaN Values ---
There are a total of 4 NaN values in the DataFrame.

--- Infinity Value Counts per Numerical Column ---
Source Port          0
Destination Port     0
Protocol             0
Flow Duration        0
Total Fwd Packets    0
                    ..
Active Min           0
Idle Mean            0
Idle Std             0
Idle Max             0
Idle Min             0
Length: 80, dtype: int64

--- Summary of Infinity Values ---
There are a total of 64 infinity values in the numerical columns of the DataFrame.

--- Combined Null OR Infinity Value Counts (Numerical Columns Only) ---
Source Port          0
Destination Port     0
Protocol             0
Flow Duration        0
Total Fwd Packets    0
                    ..
Active Min           0
Idle Mean            0
Idle Std             0
Idle Max             0
Idle Min             0
Length: 80, dtype: int64

--- Summary of Null OR Infinity Values ---
There are a total of 68 null or infinity values in the numerical columns of the DataFrame.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Strip whitespace from column names to ensure accurate access
df_no_inf_or_nulls.columns = df_no_inf_or_nulls.columns.str.strip()

# Verify the column names after stripping spaces
print("Column names after stripping whitespace:")
print(df_no_inf_or_nulls.columns.tolist())

# Now, apply Label Encoding to the 'Label' column
le = LabelEncoder()
df_no_inf_or_nulls['Label_Encoded'] = le.fit_transform(df_no_inf_or_nulls['Label'])

print("\nOriginal unique labels:", df_no_inf_or_nulls['Label'].unique())
print("Encoded unique labels:", df_no_inf_or_nulls['Label_Encoded'].unique())

print("\nMapping of original labels to encoded integers:")
for original_label, encoded_value in zip(le.classes_, le.transform(le.classes_)):
    print(f"'{original_label}' -> {encoded_value}")

print("\nFirst 5 rows of DataFrame with the new 'Label_Encoded' column:")
print(df_no_inf_or_nulls[['Label', 'Label_Encoded']].head().to_markdown(index=False, numalign="left", stralign="left"))

Column names after stripping whitespace:
['Flow ID', 'Source IP', 'Source Port', 'Destination IP', 'Destination Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Total Fwd Packets', 'Total Backward Packets', 'Total Length of Fwd Packets', 'Total Length of Bwd Packets', 'Fwd Packet Length Max', 'Fwd Packet Length Min', 'Fwd Packet Length Mean', 'Fwd Packet Length Std', 'Bwd Packet Length Max', 'Bwd Packet Length Min', 'Bwd Packet Length Mean', 'Bwd Packet Length Std', 'Flow Bytes/s', 'Flow Packets/s', 'Flow IAT Mean', 'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Total', 'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min', 'Bwd IAT Total', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max', 'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags', 'Bwd URG Flags', 'Fwd Header Length', 'Bwd Header Length', 'Fwd Packets/s', 'Bwd Packets/s', 'Min Packet Length', 'Max Packet Length', 'Packet Length Mean', 'Packet Length Std', 'Packet Length Variance', 'FIN Flag Count', 'SYN Flag Count', 'RST Flag Count', 'PSH Flag Count', 'ACK Flag Count', 'URG Flag Count', 'CWE Flag Count', 'ECE Flag Count', 'Down/Up Ratio', 'Average Packet Size', 'Avg Fwd Segment Size', 'Avg Bwd Segment Size', 'Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', 'Fwd Avg Packets/Bulk', 'Fwd Avg Bulk Rate', 'Bwd Avg Bytes/Bulk', 'Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', 'Subflow Fwd Bytes', 'Subflow Bwd Packets', 'Subflow Bwd Bytes', 'Init_Win_bytes_forward', 'Init_Win_bytes_backward', 'act_data_pkt_fwd', 'min_seg_size_forward', 'Active Mean', 'Active Std', 'Active Max', 'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label']

Original unique labels: ['BENIGN' 'DDoS']
Encoded unique labels: [0 1]

Mapping of original labels to encoded integers:
'BENIGN' -> 0
'DDoS' -> 1

First 5 rows of DataFrame with the new 'Label_Encoded' column:
| Label   | Label_Encoded   |
|:--------|:----------------|
| BENIGN  | 0               |
| BENIGN  | 0               |
| BENIGN  | 0               |
| BENIGN  | 0               |
| BENIGN  | 0               |